<!DOCTYPE html>

{% load static %}

<html lang="ru">
    <head>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">
        <link rel="stylesheet" href="{% static 'map/css/bootstrap.min.css' %}">
        <style>
            .leaflet-container {
                width: 100%;
                height: 800px;
                position: relative;
            }
            #park-card {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 350px;
                margin: 1% 5%;
                z-index: 10000;
            }
        </style>
        <title>Главная</title>
    </head>
    <body>
        <header class="navbar navbar-dark" style="background-color: white">
            <div class="container">
                <a class="navbar-brand" style="color: #157347" href="{% url 'map:index' %}">
                    <span>Moscow Parks</span>
                </a>
            </div>
        </header>
        <main>
            <div id="root"></div>
            <script src="{% static 'map/js/main.js' %}"></script>
        </main>
        <footer class="page-footer font-small blue border-top" style="background-color: white">
            <div class="footer-copyright text-center py-3 text-black-50">
                © 2020 Copyright
            </div>
        </footer>
    </body>
</html>